// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

@brand-primary:         lighten(#f3ce03, 5%);


// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";
