.content-info { 
	margin-top: 40px;
	padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}
/* Aligns the copyright and footer*/
#copy {
	padding-top: 20px;
	padding-bottom: 80px;
	clear: both;
	margin-top: 20px;
	display: block;
}

/* Allows the footer to behave properly*/

.widget {
	display: block;
	float: left;
	margin-left: 0px;
	margin-right: 0px;
}

widget-above-footer {
	display: block;
	float: left;
	margin-left: 0px;
	margin-right: 0px;
}

/* search the widget*/
body > footer > div > div.row > section.widget.search-4.widget_search > form > div {
	width: 350px;
}

.footer-widgets {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

body > footer > div > div.bottom-social.text-center {
	width: 310px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*Removing the hover*/

#menu-social-media-buttons-1 > li > a:hover {
	background-color: transparent;	
}