// All page

html {
	background-color: #000;
	background-size: cover;
	background-position: center bottom;
}

body {
	font-size: 14px;
	background-color: #000;
	background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 51%, rgba(21,45,49,1) 79%, rgba(21,45,49,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(79%, rgba(21,45,49,1)), color-stop(100%, rgba(21,45,49,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 51%, rgba(21,45,49,1) 79%, rgba(21,45,49,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 51%, rgba(21,45,49,1) 79%, rgba(21,45,49,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 51%, rgba(21,45,49,1) 79%, rgba(21,45,49,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 51%, rgba(21,45,49,1) 79%, rgba(21,45,49,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#152d31', GradientType=0 );
	color: rgba(255, 255, 255, 0.85);
	font-family: 'Lora', serif;
}

#menu-primary-navigation > li > a {
	font-size: 16px;
}

#menu-social-media > li > a > i {
	font-size: 16px;
}

// Content wrapper
.container {}

.wrap {

}

.entry-content {
	overflow-wrap: break-word;
}

// Main content area
.main {
  .make-sm-column(@main-sm-columns);
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }
}

/* TYPOGRAPHY */

.navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #f3ce03;
}

.transform-uppercase {
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
	color: rgba(255, 255, 255, 0.90);
	text-transform: uppercase !important;
}
h1 {
	letter-spacing: 3.8px;
	font-family: Gibson;
	font-size: 40px;
}
h2 {
	font-family: GibsonBig;
	letter-spacing: 2.2px;
	color: rgba(255, 255, 255, 0.68);
}
h3, .h3 {
	font-family: GibsonBig;
	letter-spacing: 2px;
	color: rgba(255, 255, 255, 0.78);
}

/*
	FRONT PAGE INFORMATION
*/

.front-page-text {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

.front-page-text p {

}

.separation-i {
	margin-top: 40px;
	margin-bottom: 80px;
	display: block;
	width: 80px;
	clear: both;
}

.homepage {
	width: 80%;
	margin-left: auto;
	margin-righ: auto;
}

/*
	CAROUSEL IMPORTANT
*/

#myCarousel {
	height: auto;
	padding-right: 50px;
	padding-left: 50px;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

.carousel-indicators {
	bottom: -5px;
}

/* Rewrite button in carousel */

.btn-primary {
	color: #fff;
	background-color: #000;
	border-color: #2B3008;
	border-width: 1px;
	font-family: GibsonBig;
	font-size: 24px;

}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	color: #2C8B6B;
	background-color: #000;
	border-color: #2B3008;
	border-width: 1px;
	font-family: GibsonBig;
	font-size: 24px;
}

#carousel-button {
	bottom: 35px !important;
}

#carousel-button > a {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.carousel-caption {
	margin-top: 20px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}


/*
	MAILCHIMP SIGNUP
*/

#mc_embed_signup {
	background: none !important;
	clear: none !important;
}
#mc-embedded-subscribe-form > div.mc-field-group.input-group > ul > li > label {
	padding: 10px;
}