header {
	margin-top: 20px;	
}

.banner { }


/* Change the background color */
body > div > header > nav {
	background-color: #000000 !important;
	border-color: #000000 !important;
}

.page-header {
	border-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*
	EDITING THE NAVBAR
*/

body > div > header > nav > div {
	margin-top: 25px;
}

#menu-primary-navigation > li {
	padding-top: 15px;
}
body > div > header > nav > div > div.collapse.navbar-collapse > ul.nav.navbar-nav.navbar-right {
	margin-top: 15px;
}

/* MAKING THE DROPDOWNS SANS SERIF */

#menu-primary-navigation > li.dropdown > a,
#menu-primary-navigation > li.active.dropdown > a,
#menu-primary-navigation > li > a {
	font-family: GibsonBig;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

#menu-primary-navigation > li > a,
#menu-primary-navigation > li > a:hover,
#menu-primary-navigation > li > a:active,
#menu-primary-navigation > li.open,
#menu-primary-navigation > li.open:hover,
#menu-primary-navigation > li.open:active,
#menu-primary-navigation > li.dropdown.open,
#menu-primary-navigation > li.open.dropdown,
#menu-primary-navigation > li.open > a,
#menu-primary-navigation > li.open > a:hover,
#menu-primary-navigation > li.open > a:active,
#menu-primary-navigation > li.dropdown.open > ul > li > a,
#menu-primary-navigation > li.dropdown.open > ul > li > a:active,
#menu-primary-navigation > li.dropdown.open > ul > li > a:hover,
#menu-primary-navigation > li.dropdown.open > ul,
#menu-social-media > li,
#menu-social-media > li > a {
	background-color: #000 !important;
	letter-spacing: 0.05em;
}

#menu-primary-navigation > li > a,
#menu-primary-navigation > li.open > a,
#menu-social-media > li,
#menu-social-media > li > a {
	color: #fff !important;
	letter-spacing: 0.05em;
}

#menu-primary-navigation > li > a:hover,
#menu-primary-navigation > li.open > a:hover,
#menu-social-media > li:hover,
#menu-social-media > li > a:hover {
	color: #fcd813 !important;
	letter-spacing: 0.05em;
}

.dropdown-menu>li>a {
	color: #fcd813 !important;
	font-family: GibsonBig !important;
	text-transform: uppercase !important;
}

.dropdown-menu>li>a:hover {
	color: #fff !important;
	font-family: GibsonBig !important;
	text-transform: uppercase !important;
}

#menu-social-media-buttons > li > a:hover {
	background-color: black;
	background-color: transparent;
}

#qtrans_select_mqtranslate-2-chooser {
	margin-top: 15px;
}

body > div:nth-child(3) > header > nav > div > div.navbar-header > button > span {
	background-color: #fff !important;
}

/**
	Social media icons
*/

.navbar-social-icon,
#text-36 > div > li > a > i {
	font-size: 23.5px !important; 
}

body > div:nth-child(1) > header > nav > div > div.collapse.navbar-collapse > ul.nav.navbar-nav.navbar-right > li > a {
	padding-right: 10px !important;
}