// Captions
.wp-caption {
  &:extend(.thumbnail all);
}

.wp-caption-text {
  &:extend(.thumbnail .caption all);
}

// Gallery shortcode
.gallery-row {
  padding: (@line-height-computed / 2) 0;
}

// Lost image for 404 page

.lost-image {
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

// All images inside blog posts 

#center-img > img {
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 100%;
	height: auto;
}

#center-img-about > img {
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 100%;
	height: auto;
}


#blog-panels img.attachment-post-thumbnail {
	height: 75px !important;
	width: auto !important;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

body > div:nth-child(2) > div > main > div > article > header {
	width: auto;
}

.attachment-post-thumbnail {
	clear: both;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


/*
	YOUTUBE EVERYTHING BELOW
*/

iframe {
  width: 100%;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

// This controls the youtube embeds on game pages

#text-28 > div > div,
#text-56 > div > iframe,
#text-56 > div {
	margin-bottom: 15px;
	margin-right: 5px;
}

@media only screen and (max-width:1180px) {
	#text-28 > div > div > iframe {
		width: 400px !important;
	}
}

// This controls the screenshots on the Papo Y Yo Page + Spirits of Spring page

#text-29, 
#text-57,
#text-33, #text-33 {
	width: 100% !important;
	height: 291px;
}

#text-29 > div,
#text-57 > div,
#text-33 > div {
	display: block;
	width: inherit;
	padding-right: 20px;
	padding-left: 20px;
	height: 291px;
}

// This controls the carousel

#PapoCarousel {
	width: 100%;
	height: 291px;
}

#SpringCarousel {
	height: 291px !important;
	width: auto;
	height: 291px !important;
}

// This controls the sale images
/*PAPO Y YO SALE BUTTONS*/

#text-27 {
	float:none !important;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
	height: auto;
}
#twitter-widget-0 {
	width: 100%;
} 

.papo-sale-images, 
#text-27 > div > img {
	height:125px !important;
	width:auto !important;
	border:none;
	margin:0px !important;
	margin-right: 1.5% !important;
}

.img-responsive {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.entry-content img {
	display: block;
    max-width: 100%;
    min-width: auto;
    width: 100%;
    height: auto;
}
.entry-content img.wp-smiley {
	width: 15px !important;
	height: 15px;
	display: inline;
}