/*
	Game Page
*/

#game-section-papo {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#text-7 {
	float: none !important;
	width: 100%;
}

#game-art {
	height: 260px;
}

/*
	Sale Button for Spirits of Spring
*/

#text-22, #text-17 { 
	width: 100%;
}

#text-22, #text-17 {
	width: 100%;
	float: none;
}


/*
	Team Page
*/

body > div:nth-child(2) > div > main > div > div > div.panel-content > h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	margin-top: 10%;
}

body > div:nth-child(2) > div > main > div > div > div.panel-content > h3 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

.team-panels {
	height: 400px;
	width: 331px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 40px;
	padding-right: 40px;
	padding-left: 40px;
	transition-property: all;
    transition-delay: 100ms;
    transition-timing-function: ease-in;	
}

#team-entry-title {
	text-align: center;
}
#team-readmore {
	margin-right: 50px;
}

#team-content-panel {
	width: 333px;
}

/* 
	History Page and Contact Page (About Page With Sidebar Template)
*/

.about-page-with-sidebar {
	width: 80%;
	margin-right: auto;
}

/*
	Press Pages
*/

body > div:nth-child(4) > div > main > div:nth-child(1) > div.text-left.clearfix.special-press-title > h1 > span,
body > div:nth-child(4) > div > main > div:nth-child(1) > div.text-left.clearfix.special-press-title > h1 > span {
	color: #ffffff;
}


#text-31 {
	width: 100%;
}

.special-press-title {
	margin-top: 10px;
	margin-bottom: 30px;
}
.text-widget > h1 {
	font-size: 36px !important;
}
.press-col-left {
	padding-right: 25px;
	padding-left: 15px;
}
.press-col-center {
	padding-right: 25px;
	padding-left: 25px;
}
.press-col-right {
	padding-right: 15px;
	padding-left: 25px;
}
.press-page-text {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 80px;
	clear: both;
}
.press-release-page-text {
	display: block;
	width: 70%;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 80px;
	clear: both;
}
.press-release-page-text-byline {
	display: block;
	width: 99%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6px;
	margin-bottom: 50px;
	clear: both;
}
.press-time-machine-posts-roll {
	margin-bottom: 25px;
}
.press-blog-panels {
	min-height: 170px;
	margin-left: 0.5%;
	margin-right: 0.5%;
	margin-top: 1.5%;
}
.press-entry-title {
	font-family: 14px !important;
	font-family: GibsonBig;
	letter-spacing: 1px;
	color: rgba(255, 255, 255, 0.78);
	text-transform: uppercase;
}
.press-panel-content > a, 
.press-panel-content > .press-entry-title,
.press-panel-content > .press-entry-title > a {
	font-family: 14px !important;
	font-family: GibsonBig;
	letter-spacing: 1px;
	color: rgba(255, 255, 255, 0.78);
	text-transform: uppercase;
}
.press-thumbnail-mask {	
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
	overflow: hidden;
}
div.press-thumbnail-mask > img {
	overflow: hidden;
	transition-timing-function: linear;
	transition-delay: 300ms;
	transition-property: all;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: auto;
}
.press-inside-panel {
	overflow: hidden;
}
.press-panel-content {
	overflow: hidden;
}
.press-panel-content {
	display: block;
	position: absolute;
	top: 0px;
	left: 20px;
	right: 20px;
	z-index: 1;
	padding: 2px;
	opacity: 0.45;
}
.press-thumbnail-mask > img {
	transition-timing-function: linear;
	transition-delay: 300ms;
	transition-property: all;
}
div:hover > div.mask {
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.85);
	transition-delay: 300ms;
	transition-property: all;
	transition-timing-function: ease-in;
}
div:hover > div.press-panel-content {
	opacity: 1;
	z-index: 5;
	transition-delay: 300ms;
	transition-property: all;
	transition-timing-function: ease-in;
}
.press-panel-content > h2 > a,
div > div.press-panel-content > h2 > a {
	font-family: GibsonBig;
	font-size: 20px !important;
	letter-spacing: 2.4px;
	z-index: 5;
}
.press-panel-content > p,
div > div.press-panel-content > p {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	z-index: 5;
}
.press-panel-content > a,
div > div.press-panel-content > a {
	font-size: 90%;
	font-family: GibsonBig;
	z-index: 5;
}
.press-panel-content time,
div > div.press-panel-content time {
	font-family: Gibson;
	letter-spacing: 1.8px;
	z-index: 5;
}
/*THE FOLLOWING HIDE IMAGES FROM EXCERPTS*/
.press-panel-content > p > img,
div > div.press-panel-content > p > em > img,
div > div.press-panel-content > p > a > img,
div > div.press-panel-content > p > strong > img
div > div.press-panel-content > img { 
	display: none;
	visibility: collapse;
}
