.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

body > div:nth-child(2) > div > main > div > article > header {
	height: auto;
}

.post-meta {
	padding-left: 0px;
	list-style: none;
}

body > div:nth-child(4) > div > main > div > article > header > div > div > span, 
fb-share-button fb_iframe_widget > span {
	vertical-align: top !important;	
}
body > div:nth-child(4) > div > main > div > article > header > div > iframe:nth-child(8) {
	vertical-align: top !important;
}
.sharing-buttons-top-single-post > iframe:nth-child(8) {
	vertical-align: top !important;
}
.sharing-buttons-top-single-post {
	margin-bottom: 30px;
}
.sharing-buttons-bottom-single-post > iframe,
.sharing-buttons-bottom-single-post > iframe > span,
body > div:nth-child(4) > div > main > div > article > div.sharing-buttons-bottom-single-post > div > span {
	vertical-align: top !important;	
}
body > div:nth-child(4) > div > main > div > article > div.sharing-buttons-bottom-single-post > div {
	vertical-align: top !important;	
}
.post-meta-key {
	display: hidden;
	visibility: hidden;
	display: none;
}

.blog-panels {
	width: 380px;
	height: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 40px;
	padding-right: 40px;
	padding-left: 40px;
	transition-property: all;
    transition-delay: 50ms;
    transition-timing-function: ease-in;
}
.inside-panel {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.blog-panels:hover {
	transition-property: all;
    transition-delay: 50ms;
    transition-timing-function: ease-in;
}
.panel-content > h2 > a,
div > div.panel-content > h2 > a {
	font-family: GibsonBig;
	font-size: 20px !important;
	letter-spacing: 2.4px;
	z-index: 5;
}
.panel-content > p,
div > div.panel-content > p {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	z-index: 5;
}
.panel-content > a,
div > div.panel-content > a {
	font-size: 90%;
	font-family: GibsonBig;
	z-index: 5;
}
.panel-content time,
div > div.panel-content time {
	font-family: Gibson;
	letter-spacing: 1.8px;
	z-index: 5;
}
/*THE FOLLOWING HIDE IMAGES FROM EXCERPTS*/
.panel-content > p > img,
div > div.panel-content > p > em > img,
div > div.panel-content > p > a > img,
div > div.panel-content > p > strong > img
div > div.panel-content > img { 
	display: none;
	visibility: collapse;
}

/*THE FOLLOWING CONTROLS ARE CSS EFFECTS*/

.mask {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: none;
	z-index: 1;
	transition-delay: 50ms;
	transition-property: all;
	transition-timing-function: ease-in;
}
.thumbnail-mask {
	display: block;
	position: absolute;
	top: 0px;
	left: 20px;
	right: 20px;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.panel-content {
	display: block;
	position: absolute;
	top: 0px;
	left: 20px;
	right: 20px;
	z-index: 1;
	padding: 2px;
	opacity: 0.75;
}

#next-to-blog > section {
	width: 100%;
}

div:hover > div.thumbnail-mask > img {
/*
	-webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
*/
}
.thumbnail-mask > img {
	transition-timing-function: linear;
	transition-delay: 50ms;
	transition-property: all;
}
div:hover > div.mask {
	z-index: 4;
	background-color: rgba(0, 0, 0, 0.85);
	transition-delay: 50ms;
	transition-property: all;
	transition-timing-function: ease-in;
}
div:hover > div.panel-content {
	opacity: 1;
	z-index: 5;
	transition-delay: 50ms;
	transition-property: all;
	transition-timing-function: ease-in;
}

body > div:nth-child(2) > div > main {
	padding-top: 20px;
	padding-bottom: 20px;
}
.pager li>a ,
.pager li>span {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-width: 0px;
	background-color: rgba(0, 0, 0, 0);
	font-size: 22px;
}
.pager li>a:hover ,
.pager li>span:hover,.pager li>a:active ,
.pager li>span:active,.pager li>a:focus ,
.pager li>span:focus  {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-width: 0px;
	background-color: rgba(0, 0, 0, 0);
	font-size: 22px;
}
.post-nav {
	clear: both;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

