.sidebar {
  .make-sm-column(@sidebar-sm-columns);
}

/* FOR THE TWITTER WIDGET ON BLOG POSTS*/

#next-to-blog {
	margin-top: 40px !important; 
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

body > div:nth-child(4) > div > main > div.col-md-4 > section {
	width: 100% !important;
}

/* Remove li padding */

#game-section-papo > ul {
	padding-left: 0px !important;
}

/*All Video widgets have float left disabled*/

#text-9, #text-37, #text-19 {
	float: none;
}

.widget {
	margin-top: 5px;
	margin-bottom: 5px;
}

.widget > div {
	width: 100% !important;
} 

body > div:nth-child(4) > div > main > div.row.col-md-12 > div.col-md-6 > ul {
	padding-left: 0px;
} 

