//Fixing img-responsive for Firefox

.img-responsive {
	width: 100%;
	display: block;
	max-width: 100%;
	height: auto;
}

// Captions
.wp-caption {
  &:extend(.thumbnail all);
}

.wp-caption-text {
  &:extend(.thumbnail .caption all);
}

// Gallery shortcode
.gallery-row {
  padding: (@line-height-computed / 2) 0;
}

// Lost image for 404 page

.lost-image {
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

// All images inside blog posts 

#center-img > img {
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 100%;
	height: auto;
}

#center-img-about > img {
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 100%;
	height: auto;
}

body > div:nth-child(2) > div > main > div > article > div > img  {
	width: 100%;
	height: auto;
}

body > div:nth-child(2) > div > main > div > article > div > p > img {
	width: 100% !important;
	height: auto !important;
}

body > div:nth-child(2) > div > main > div > article > div > p:nth-child(1) > img {
	width: 100% !important;
	height: auto !important;
}


// This controls the youtube embeds on game pages

iframe {
  width: 100%;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

// This controls the screenshots on the Papo Y Yo Page

#text-29, #text-10, #text-14, #text-15, #text-20 {
	width: 100% !important;
	height: 291px;
}

#text-29 > div, #text-10 > div, #text-14 > div, #text-15 > div, #text-20 > div {
	display: block;
	width: inherit;
	padding-right: 20px;
	padding-left: 20px;
	height: 291px;
}

// This controls the carousel

#PapoCarousel {
	width: 100%;
	height: 291px;
}

#SpringCarousel {
	width: 100%;
	height: 291px !important;
}

// This controls the sale images

.papo-sale-images, 
#text-27 > div > img, #text-17 > div > img , #text-22 > div > img {
	height:125px !important;
	width:auto !important;
	border:none;
	margin:0px !important;
	margin-right: 1.5% !important;
}