// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

.aligncenter {
  display: block;
  margin: (@line-height-computed / 2) auto;
}
.alignleft,
.alignright {
  margin-bottom: (@line-height-computed / 2);
}
figure.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

@media (min-width: @screen-sm-min) {
  // Only float images if not on an extra small device like smartphones
  .alignleft {
    float: left;
    margin-right: (@line-height-computed / 2);
  }
  .alignright {
    float: right;
    margin-left: (@line-height-computed / 2);
  }
}

body > div:nth-child(2) > div > main > article.post.type-post.status-publish.format-standard, post {
	float: left;
	margin: 20px;
	overflow: hidden;
	height: 250px;
	max-width: 250px;
}
